@font-face {
  font-family: "BladeRunner";
  src: url(/assets/fonts/blade_runner.ttf);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  height: 100%;
  background-image: url(/assets/images/PROTOCOL_BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.8s ease;
}

.title {
  position: absolute;
  top: 77%;
  left: 1%;
  width: 100%;
  height: auto;
  z-index: 3;
  transition: opacity 0.8s ease;
}

.title img {
  width: 800px;
  height: auto;
}

.start-text {
  position: absolute;
  top: 50%;
  z-index: 5;
  transition: opacity 0.8s ease;
}

.start-text img {
  width: 600px;
  height: auto;
  transform: translate(50%, -50%);
}
